.main-screen {
    display: flex;
    
    .left {
        height: 100%;
        width: fit-content;
        display: flex;
        flex-direction: column;

        .users {
            width: 300px;
            flex: 1;
            min-height: 0;
            background: $base_darker_0_bg;
        }

        .owner {
            width: 300px;
            height: fit-content;
            background: $base_darker_1_bg;
            display: flex;
            
            .icon-cont {
                box-sizing: border-box;
                padding: 7.5px;
                width: fit-content;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;
                    background: $accent_bg;
                    border-radius: 5px;
                    margin: 0px;
                    margin-bottom: 0px;
                    cursor: pointer;
                    box-sizing: border-box;
                    /* border: 3px solid $base_darker_1_bg;
                    box-shadow: 0px 0px 0px 3px khaki; */
                }
            }

            .info-cont {
                flex: 1;
                height: 100%;
                min-height: 0;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding: 7.5px;
                padding-left: 0px;
                
                .top {
                    flex: 1;
                    min-height: 0;
                    width: 100%;
                    box-sizing: border-box;
                    // padding-left: 15px;
                    // padding-right: 15px;
                    font-family: 'Roboto Slab';
                    color: $base_fg;
                    display: flex;

                    #oc-owner-tag-name {
                        word-wrap: break-word;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        width: fit-content;
                        word-break: break-all;
                    }

                    #oc-owner-tag-discriminator {
                        font-family: 'Roboto Mono';
                        box-sizing: border-box;
                        padding-right: 2.5px;
                        padding-left: 2.5px;
                        border-radius: 2.5px;
                    }
                }

                .bottom {
                    flex: 1;
                    min-height: 0;
                    width: 100%;
                    box-sizing: border-box;
                    font-family: 'Roboto Slab';
                    color: $base_fg;
                    display: flex;

                    .emoji {
                        width: 20px;
                        height: 20px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .state {
                        flex: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        word-break: break-all;
                        color: $color_offline;
                    } 
                }

                hr {
                    border: 0px;
                    width: 90%;
                    height: 2.5px;
                    border-radius: 5px;
                    background: $accent_bg;
                }
            }
        }
    }

    .right {
        height: 100%;
        flex: 1;
        min-width: 0;
        background: $base_bg;
    }
}