.check-box {
    box-sizing: border-box;
    transition: .175s;
    cursor: pointer;
    border-radius: 5px;
    
    &:hover {
        border: 5px solid $accent_bg;
        background: $accent_bg;
    }
}

.ch-box-unchecked {
    border: 5px solid $base_darker_2_bg;
    background: transparent;
}

.ch-box-checked {
    border: 5px solid $accent_bg;
    background: transparent;

}

.utils-btn {
    background: $base_lighter_0_bg;
    color: $base_darker_2_bg;
    box-sizing: border-box;
    cursor: pointer;
    transition: .175s;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Rubik';
    border: 4px solid $base_darker_0_bg;

    &:focus {
        outline: none;
    }
    
    &:hover {
        background: $accent_bg;
        color: $base_fg;
    }

    &:hover:active {
        outline: none;
        box-shadow: 0px 0px 0px 3px $accent_bg;
    }
}

.ub-error {
    background: $btn_close;
    color: $accent_fg;
}

.bg-online {
    background: $color_online;
    color: $base_darker_1_bg
}

.bg-idle {
    background: $color_idle;
    color: $base_darker_1_bg;
}

.bg-dnd {
    background: $color_dnd;
    color: $base_darker_1_bg;
}

.bg-offline {
    background: $color_offline;
    color: $base_darker_1_bg;
}

.bg-default {
    background: $accent_bg;
    color: $accent_fg;
}

// border left
/* .bl-online {
    border-left-color: $color_online;
}

.bl-idle {
    border-left-color: $color_idle;
}

.bl-dnd {
    border-left-color: $color_dnd;
}

.bl-offline {
    border-left-color: $color_offline;
}

.bl-default {
    border-left-color: $accent_bg;
} */