$base_lighter_0_bg: #40444b;
$base_bg: #36393f;
$base_darker_0_bg: #2f3136;
$base_darker_1_bg: #292b2f;
$base_darker_2_bg: #202225;

$base_lighter_0_fg: #ffffff;
$base_fg: #dededf;
$base_darker_0_fg: #b9bbbe;

$accent_bg: #5865f2;
$accent_fg: #ffffff;

$btn_close: indianred;
$btn_maximize: $accent_bg;
$btn_minimize: khaki;